<div class="g-client-page">
    <div class="header-stub"></div>
    <div class="header"></div>

    <div class="g-client-content" id="esportsbook"></div>

    <div class="footer-wrapper"></div>
</div>
