/* You can add global styles to this file, and also import other style files */
html {
    font-size: 0.625rem;
    height: 100%;
    font-family: "Lato", sans-serif;
}

body {
    margin: 0;
}

ul {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.g-client-content {
    padding-bottom: 46.4rem; /* Footer height */
}

.g-client-page {
    position: relative;
    min-height: 100vh;
}

.header-stub {
    display: flex;
    height: 5.6rem;
    width: 100%;
    background: #222;
    padding: 0.8rem 1.2rem;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height: 5.6rem;
    width: 100%;
    background: #8d8d8d;
    padding: 0.8rem 1.2rem;
    align-items: center;
    z-index: 999;
}

.footer-wrapper {
    display: flex;
    height: 46.4rem;
    min-height: 46.4rem;
    width: 100%;
    background: #222;
    position: absolute;
    bottom: 0;
    flex-direction: column;
}
